[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/DirectXMath"]
	path = ThirdParty/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/D3D12MA"]
	path = ThirdParty/D3D12MA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "ThirdParty/flatbuffers"]
	path = ThirdParty/flatbuffers
	url = https://github.com/google/flatbuffers.git
